{{extend 'layout.html'}}

{{try:}}
  {{=H1(zgl)}}
  {{=H3(sts1)}}
  <hr />
{{except:}}
{{pass}}

<script type="text/python" src="{{=URL(c='static', f='brython/clock.py')}}">
</script>

<center>
  <canvas id="clock" width="250" height="250" title="Brython">
    Your browser doesn't support Canvas
  </canvas>
</center>
