{{extend 'layout.html'}}

{{try:}}
  {{if 'zgl' in globals():}}
    {{=H1(zgl)}}
  {{pass}}
  
  {{if 'sts1' in globals():}}
    {{=H3(sts1)}}
  {{pass}}
  <hr />
  
  {{if 'form1' in globals():}}
    {{=form1}}
  {{pass}}
  <br>
  
  {{if 'sts2' in globals():}}
    {{=H3(sts2)}}
  {{pass}}
  
  {{if 'form2' in globals():}}
    {{=form2}}
  {{pass}}
{{except:}}
  {{=BEAUTIFY(response._vars)}}
{{pass}}
<br>
<br>

